body{
  font-family: 'Abel', sans-serif;
}
/*logo styles*/


.center {

  margin-top: 2%;
  font-size: 10em;
  width : 100%;

}

/*sidebar*/
.sidebar{
  width: 300px;
  height: 1150px;
  background-color: #11171c;
  padding:10px;
  color:#fff;
  float:left;


}



.picholder{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #fff;
  margin: 0 auto;
  margin-left:17%;

}
.icons{
  margin-left: 24%;
}

.icons i{
  margin: 5px;
}


#heading{
  margin-left: 27%;
  float: left;
}

#tagLine{
   margin-left: 18%;

}
.navLinks{
  padding-left: 50px;


}
ul{
  list-style: none;
}
#work{ color: #d35136;}
#contact{ color: #27b599;}
#about{ color: #088ecc;}
/*content*/

.portfolio-info{

  float: left;
  background-color:#f7f7f7;
  width: 500px;
  height: 300px;
}
.portfolio-item{

  float:left;
  width: 500px;
  height: 300px;
  background-color: #fff;
}
.portfolio-item img{
  width:500px;
  height: 300px;
  padding: 20px;
}


/*breakpoints*/

@media screen and (max-width: 480px) {
    .sidebar{
      float: none;
      width: 100%;

    }
    #heading{
      float:none;
      margin-left: 25%;
      font-size: 0.5em;

    }
}
