html, body {
    height: 100%;
    font-family: 'Abel', sans-serif;
    min-width: 500px;
    overflow: auto;
}
/*logo styles*/


.center {

  margin-top: 2%;
  font-size: 10em;
  width : 100%;

}

/*sidebar*/
.sidebar{
  position: fixed;
  width: 300px;
  min-height: 100%;
  background-color: #11171c;
  padding:10px;
  color:#fff;
  float:left;
  z-index: 100;


}



.picholder{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-color: #fff;
  margin: 0 auto;
  margin-left:25%;

}
.icons{
  margin-left: 24%;
}

.icons i{
  margin: 5px;
}


#heading{
  margin-left: 27%;
  float: left;
}

#tagLine{
   margin-left: 18%;

}
.navLinks{
  padding-left: 50px;


}
ul{
  list-style: none;
}
#work{ color: #d35136;}
#contact{ color: #27b599;}
#about{ color: #088ecc;}
/*content*/

.portfolio-info{

  float: left;
  background-color:#f7f7f7;
  width: 300px;
  height: 610px;
  margin-left: 320px;
  border-right: solid gray 3px;
}
.portfolio-item{

  float:left;
  width: 300px;
  height: 610px;
  background-color: #fff;
}
.portfolio-item img{
  width: 610px;
  height: 400px;
  padding: 20px;
  margin-bottom: 5px;
  margin-left: 70px;
}
#portfolio-item-amazon{

  padding: 20px;
  margin-bottom: 5px;
  margin-left: 70px;

}
.portfolio-item iframe{
  width: 610px;
  height: 400px;
  padding: 20px;
  margin-bottom: 5px;
  margin-left: 70px;
}

/*breakpoints*/

@media screen and (max-width: 450px) {
    .sidebar{
      float: none;
      width: 100%;
      position: relative;


    }
    .portfolio-info{
      margin-left: 0;
      width: 100%;
      text-align: center;
    }
    .portfolio-item{
      width: 100%;
    }
    .portfolio-item img{
      margin-left: 0;
      margin-bottom: 0;
      width:100%;


    }



    #heading{
      float:none;
      margin-left: 25%;
      font-size: 0.5em;


    }

}


/* style.css */
...

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

/* style.css */
...

    .ng-enter           { animation: slideInRight 0.5s both ease-in; z-index: 8888; }
    .ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }

...
