<!-- content  -->

<div class="row">
  <div class="col-md-6 portfolio-info">
    <h2>The Hip Hop collective site v.3</h2>
    <h3>Web</h3>
    <h4>Html-Css3-Jquery</h4>
  </div>
  <div class="col-md-6 col-md-3 portfolio-item">
    <a href="https://blooming-retreat-41584.herokuapp.com/"><img src="img/hhc.png" alt=""></a>
  </div>
  <div class="col-md-6  col-md-3 portfolio-info">
    <h2>PicPick-Group Project</h2>
    <h3>Web</h3>
    <h4>Html-Css3-angular</h4>
  </div>
  <div class="col-md-6  col-md-3 portfolio-item">
    <a href="https://frozen-headland-53873.herokuapp.com/"><img src="img/picpick.png" alt=""></a>
  </div>
  <div class="col-md-6  col-md-3 portfolio-info">
    <h2>To Chill or Not to Chill</h2>
    <h3>Web</h3>
    <h4>Html-Css3-Jquery</h4>
  </div>
  <div class="col-md-6  col-md-3 portfolio-item">
    <img src="img/weatherapp.png" alt="">
  </div>
  <div class="col-md-6   col-md-3 portfolio-info">
    <h2>The Application Tracker</h2>
    <h3>Web</h3>
    <h4>Html-Css3-Angular</h4>
  </div>
  <div class="col-md-6  col-sm-1 portfolio-item">
    <a href="https://goku-tracker.herokuapp.com/"><img src="img/todolistangular.png" alt=""></a>
  </div>
</div>
