<!-- content  -->

<div class="row">
  <div class="col-md-6 portfolio-info">
    <h2>The Hip Hop collective site v.3</h2>
    <h3>Web</h3>
    <h4>Html-Css3-Jquery</h4>
  </div>
  <div class="col-md-6 col-md-3 portfolio-item">
    <img src="img/hhc.png" alt="">
  </div>
  <div class="col-md-6  col-md-3 portfolio-info">
    <h2>PicPick-Group Project</h2>
    <h3>Web</h3>
    <h4>Html-Css3-angular</h4>
  </div>
  <div class="col-md-6  col-md-3 portfolio-item">
    <img src="img/picpick.png" alt="">
  </div>
  <div class="col-md-6  col-md-3 portfolio-info">
    <h2>To Chill or Not to Chill</h2>
    <h3>Web</h3>
    <h4>Html-Css3-Jquery</h4>
  </div>
  <div class="col-md-6  col-md-3 portfolio-item">
    <img src="img/weatherapp.png" alt="">
  </div>
  <div class="col-md-6   col-md-3 portfolio-info">
    <h2>The Application Tracker</h2>
    <h3>Web</h3>
    <h4>Html-Css3-Angular</h4>
  </div>
  <div class="col-md-6  col-sm-1 portfolio-item">
    <img src="img/todolistangular.png" alt="">
  </div>
</div>
