<!-- content  -->

  <div class="row">
    <div class="col-md-6 portfolio-info">
      <h2>Family</h2>
      <h3>photo</h3>
      <h4>London, England</h4>
    </div>
    <div class="col-md-6 col-md-3 portfolio-item">
      <img src="img/babycuz.jpg" alt="">
    </div>
    <div class="col-md-6  col-md-3 portfolio-info">
      <h2>Green</h2>
      <h3>photo</h3>
      <h4>Ocala, Fl</h4>
    </div>
    <div class="col-md-6  col-md-3 portfolio-item">
      <img src="img/green.jpg" alt="">
    </div>
    <div class="col-md-6  col-md-3 portfolio-info">
      <h2>Home</h2>
      <h3>photo</h3>
      <h4>Gainesville, Fl</h4>
    </div>
    <div class="col-md-6  col-md-3 portfolio-item">
      <img src="img/home.jpg" alt="">
    </div>
    <div class="col-md-6   col-md-3 portfolio-info">
      <h2>Teacher and Student</h2>
      <h3>photo</h3>
      <h4>Orlando, Fl</h4>
    </div>
    <div class="col-md-6  col-sm-1 portfolio-item">
      <img src="img/patNmex.jpg" alt="">
    </div>
    <div class="col-md-6   col-md-3 portfolio-info">
      <h2>Tokyo Ghoul </h2>
      <h3>photo</h3>
      <h4>Orlando, Fl</h4>
    </div>
    <div class="col-md-6  col-sm-1 portfolio-item">
      <img src="img/tokyoGoul.jpg" alt="">
    </div>
  </div>
