
        <div class="row">
          <div class="col-md-6 portfolio-info">
            <h2>SoulCypher Anniversary Trailer</h2>
            <h3>Video</h3>
            <h4>Adobe Premire Pro</h4>
          </div>
          <div class="col-md-6 col-md-3 portfolio-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/9_c2hBzrJDA" frameborder="0" allowfullscreen>

            </iframe>
          </div>
          <div class="col-md-6  col-md-3 portfolio-info">
            <h2>DownTown Drag</h2>
            <h3>Video</h3>
            <h4>Adobe Premire Pro - Sony A77</h4>
          </div>
          <div class="col-md-6  col-md-3 portfolio-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KoHG5oqLht4" frameborder="0" allowfullscreen>

            </iframe>
          </div>
          <div class="col-md-6  col-md-3 portfolio-info">
            <h2>To Chill or Not to Chill</h2>
            <h3>Web</h3>
            <h4>Html-Css3-Jquery</h4>
          </div>
          <div class="col-md-6  col-md-3 portfolio-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/TfOoNIEa4sQ" frameborder="0" allowfullscreen>

            </iframe>
          </div>
          <div class="col-md-6   col-md-3 portfolio-info">
            <h2>The Application Tracker</h2>
            <h3>Web</h3>
            <h4>Html-Css3-Angular</h4>
          </div>
          <div class="col-md-6  col-sm-1 portfolio-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/GP6aIz1qDlE" frameborder="0" allowfullscreen>

            </iframe>
          </div>
          <div class="col-md-6   col-md-3 portfolio-info">
            <h2>The Application Tracker</h2>
            <h3>Web</h3>
            <h4>Html-Css3-Angular</h4>
          </div>
          <div class="col-md-6  col-sm-1 portfolio-item">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/5MICzQ9qAYA" frameborder="0" allowfullscreen>

            </iframe>
          </div>
        </div>
